#slider img {
  width: 20px;
  height: 20px;
}

#slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 30%;
  background-color: rgb(232, 74, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#slider:hover {
  background-color: rgb(210, 67, 61);
}

.slider-left {
  left: 0px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.slider-right {
  right: 0px;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.slider-right:hover img {
  transform: scale(1.2) translateX(5px);
}

.slider-left:hover img {
  transform: scale(1.2) translateX(-5px);
}
